@font-face {
    font-family: 'roboto_condensedregular';
    src: url('D:\Projects\Website August 2024\content\robotocondensed-variablefont_wght-webfont.woff2') format('woff2'),
         url('D:\Projects\Website August 2024\content\robotocondensed-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}